main {
  background-color: #ebedee;
  height: calc(100vh - 60px);
  padding: 30px;
}

.offer-page {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}

.offer-picture img {
  height: 600px;
  object-fit: cover;
  width: 453px;
}

.offer-infos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 320px;
  height: 524, 667px;
}

.offer-infos > div {
  height: 205px;
}

.price {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}

ul {
  margin-top: 16px;
}

li {
  display: flex;
  padding: 2px 0;
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

li .key {
  color: #999;
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}

li .value {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
  font-weight: 700;
}

hr {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}

.content {
  height: 215px;
}

.content .name {
  font-weight: 700;
  margin-top: 16px;
  height: 41px;
}
.content .description {
  height: 76.53px;
  color: #666;
}
.content .avatar-username {
  align-items: center;
  display: flex;
  height: 50px;
}

.avatar-username img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  width: 50px;
}
.offer-infos button {
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
}
