header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}

.logo {
  height: 40px;
  width: 103px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-bar {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

.position2 .style {
  position: absolute;
  top: -28px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: Maison Neue;
  padding: 4px;
  border-radius: 4px;
  background-color: rgb(44, 177, 186);
}

.btn-block {
  display: flex;
  gap: 20px;
  font: inherit;
  width: 250px;
  height: 30px;
}

.btn-block .deconnect {
  background-color: #c2175b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: Maison Neue;
  font-size: 12px;
  height: 30px;
  outline: none;
}

button {
  background-color: #fff;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
.button .signup {
  margin-right: 20px;
}

div .sell {
  background-color: rgb(44, 177, 186);
  color: white;
}
