main {
  background-color: #fff;
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-form {
  margin: auto;
  width: 275px;
  height: 380px;
}

.signup-form > input {
  margin: 0em;
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  width: 275px;
}
.checkbox-container {
  display: block;
  margin-top: 20px;
  padding: 10px;
  width: 255px;
  height: 102px;
}

.checkbox-container > div {
  display: flex;
}
.checkbox-container input {
  margin-right: 20px;
  transform: scale(2);
}

.checkbox-container span {
  color: #666;
}
.checkbox-container p {
  color: #999;
  font-size: 12px;
  text-align: left;
  display: block;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.signup-form button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
}

.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}
