.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #060d2c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.auth-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.auth-buttons ul li {
  padding: 8px 20px;
}

.header-container > div:first-child {
  cursor: pointer;
}

.header-logo {
  height: 40px;
  cursor: pointer;
  margin-bottom: 10px;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 70%;
  padding: 0 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-family: "Maison Neue";
  font-size: 16px;
}

.search-input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}

.search-input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "Maison Neue";
  font-size: 16px;
}

.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbbbbb;
}

.header-button {
  height: 35px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 14px;
  outline: none;
  margin-bottom: 20px;
}

.button-login-signup {
  background-color: white;
  color: #2cb1ba;
  transition: background-color 0.6s, color 0.6s;
}

.button-login-signup:hover {
  background-color: #2cb1ba; /* Changement de fond au survol */
  color: white; /* Changement de la couleur du texte au survol */
}

.button-sold {
  background-color: #2cb1ba;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.button-sold:hover {
  background-color: #198f97; /* Une teinte plus foncée au survol */
}

.button-logout {
  background-color: #c2175b;
  color: white;
  transition: background-color 0.3s;
}

.button-logout:hover {
  background-color: #a4154a; /* Une teinte plus foncée au survol */
}

/* .dashboard-button {
  background-color: #2cb1ba;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
} */

.dashboard-button:hover {
  background-color: #1e899b;
}

.header-links .auth-buttons {
  display: block;
  margin-left: 100px;
}

.header-links .button-login-signup {
  margin-right: 20px;
}
/* Pour les écrans de petite taille */
@media screen and (max-width: 768px) {
  .header-container {
    width: 100%;
    padding: 10px 20px;
    display: grid;
    flex-direction: column;
    grid-template-columns: 30% 70%;
    justify-content: space-between;
  }

  .button-sold {
    display: none;
  }

  .random {
    width: 100%;
  }

  .header-links {
    display: none;
  }
}

.search-input {
  width: 100%;
}
