:root {
  --header-bg-color: #060d2c;
  --button-border-radius: 5px;
  --button-primary-bg-color: #2cb1ba;
  --button-secondary-bg-color: #c2175b;
  --burger-btn-color: #09fbba;
  --max-width-mobile: 772px;
  --font-family-main: "Maison Neue", sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background-color: var(--header-bg-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo {
  height: 40px;
  cursor: pointer;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 70%;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: var(--button-border-radius);
  height: 30px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  font-family: var(--font-family-main);
  font-size: 16px;
}

.search-input::placeholder {
  color: #cbcccd;
}

.search-input-icon {
  position: absolute;
  left: 7px;
  top: 12px;
  color: #bbbbbb;
}

.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid var(--button-primary-bg-color);
  border-radius: var(--button-border-radius);
  font-family: var(--font-family-main);
  font-size: 12px;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
}

.button-login-signup {
  background-color: white;
  color: var(--button-primary-bg-color);
}

.button-login-signup:hover {
  background-color: var(--button-primary-bg-color);
  color: white;
}

.button-sold {
  background-color: var(--button-primary-bg-color);
  color: white;
}

.button-sold:hover {
  background-color: #198f97;
}

.button-signup {
  margin-right: 20px;
}

.button-logout {
  background-color: var(--button-secondary-bg-color);
  color: white;
}

.button-logout:hover {
  background-color: #a4154a;
}

.dashboard-button:hover {
  background-color: #1e899b;
}

.toggle-btn {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: var(--burger-btn-color);
  display: block;
  margin-bottom: 5px;
  transition: 0.3s ease;
}

@media screen and (max-width: var(--max-width-mobile)) {
  .toggle-btn {
    display: block;
  }
  .header-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 10px 20px;
  }
  .search-input {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    padding: 10px 40px;
  }
  .search-input {
    width: 80%;
  }
}
