.publish-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Fond blanc pour la cohérence */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile pour la profondeur */
  border-radius: 5px; /* Bords arrondis */
}

.publish-main h2 {
  font-size: 24px;
  font-family: "Maison Neue";
  color: #060d2c; /* Couleur de texte correspondant à la section 'Home' */
  padding-top: 40px;
}

.file-select,
.text-input-section {
  background-color: white;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px gray;
  border-radius: 3px; /* Bords arrondis */
}

.input-design-default,
.input-design-image,
.text-input > input,
.text-input > textarea {
  border: 1px solid #0ab1ba; /* Bordure de couleur */
  border-radius: 4px; /* Bords arrondis */
}

.form-validation,
.save-offer {
  background-color: #2baeb7; /* Couleur de fond des boutons */
  color: white; /* Couleur de texte des boutons */
  border-radius: 4px; /* Bords arrondis */
  padding: 12px 12px;
  margin: 50px 0;
  transition: background-color 0.3s; /* Transition pour les effets de survol */
}

.form-validation:hover,
.save-offer:hover {
  background-color: #198f97; /* Changement de couleur au survol */
}
