
.navbar {
  position: absolute;
  width: 100%; 
}

.burger-menu {
    transition: transform 0.6s ease;
    cursor: pointer;
    position: absolute; 
    z-index: 1000;
    display: none;
    top: 35px;
}
.burger-menu.open{
  cursor: pointer;
 transform: translateX(150px); 
 transition: 0.6s ease;
 top:65px;
 
}

.burger-menu.open div{
    background-color:#2cb1ba;
}


.burger-menu div {
  width: 30px;
  height: 3px;
  background-color: rgb(213, 207, 207);
  margin: 5px;
}

.change.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change.bar2 {
  opacity: 0;
}

.change.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Styles pour la navbar */
.nav-menu {
    width: 0;
  position: absolute; 
  left: 0px;
  top :70px;
  background-color: #2cb1ba;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s ease;
  z-index: 500; /
}

.nav-menu ul {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  list-style: none;
  height: 100%;
}

.nav-menu ul li a {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: block;
}



.open-nav .dashboard-button {
  background-color: #2cb1ba;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  outline: none;
  cursor: pointer;
  margin-left: 20px;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
  .nav-menu.open {
    width: 150px;
    height: 50vh;
    border-radius: 10px;
  }

  .nav-links {
    display: none;
  }
  .nav-menu ul::-webkit-scrollbar {
  display: none;
  }
  }
  


@media screen and (min-width: 768px) {
  .nav-menu links {
    display: none;
  }
}

